@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&amp;display=swap";
@import "https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap";
body {
	font-size: 16px;
	line-height: 1.8;
	font-family: archivo, sans-serif;
	color: #8b8b8b
	
}

p {
	color: #8b8b8b
}

a {
	display: inline-block;
	-webkit-transition: all .5s;
	transition: all .5s;
	text-decoration: none
}

a:hover,
a:focus {
	text-decoration: none
}

button {
	margin: 0;
	padding: 0;
	outline: 0
}

button:focus {
	outline: 0;
	border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1f1f1f;
	font-weight: 600;
	font-family: oswald, sans-serif;
	line-height: 1.4
}

.d-table {
	width: 100%;
	height: 100%
}

.d-table-cell {
	display: table-cell;
	vertical-align: middle
}

img {
	max-width: 100%
}

.ptb-100 {
	padding-top: 100px;
	padding-bottom: 100px
}

.pt-100 {
	padding-top: 100px
}

.pb-100 {
	padding-bottom: 100px
}

.pb-70 {
	padding-bottom: 70px
}

.pt-45 {
	padding-top: 45px
}

.ml-60 {
	margin-left: 60px
}


.text-center decor {
	color:white
}
.text-color {
	color: #fff!important
}

.color-title-blue {
	color: #0152a3!important
}

.bg-section {
	
	background-image: url("https://wolfox.in/dreampoolsindia.in/images/block-bg.jpg");
	height: 500px;
}

.text-color2 {
	color: #4c4c4c!important
}

.default-btn {
	padding: 12px 27px;
	color: #fff;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	text-transform: uppercase
}

.default-btn::before {
	content: "";
	position: absolute;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #0152a3;
	z-index: -1;
	-webkit-transition: all .5s;
	transition: all .5s
}

.default-btn::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #0152a3;
	z-index: -1;
	-webkit-transition: all .5s;
	transition: all .5s
}

.default-btn:hover {
	color: #fff;
	border: none
}

.default-btn:hover::before {
	left: auto;
	right: 0;
	width: 50%
}

.default-btn:hover::after {
	left: 0;
	right: 0;
	width: 50%
}

.default-btn.active {
	margin-left: 20px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	overflow: hidden
}

.default-btn.active:hover {
	color: #fff;
	border: 1px solid #0152a3
}

.default-bg-white {
	background-color: #fff;
	color: #1f1f1f
}

.default-bg-black {
	background-color: #1f1f1f;
	color: #fff
}

.section-title span {
	color: #1b13b9;
	font-weight: 500;
	line-height: 0;
	letter-spacing: 4.5px;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 5px
}

.section-title h2 {
	
	font-size: 35px;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 5px;
	line-height: 1.5
}

.section-title p {
	padding-top: 15px;
	max-width: 450px;
	margin-bottom: 0
}

.header-right {
	background-color: #fff;
	text-align: left
}

.header-right .header-right-card ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none
}

.header-right .header-right-card ul li {
	display: inline-block;
	text-align: left;
	position: relative;
	padding-left: 7px;
	color: #fff;
	margin-right: 35px;
	padding-top: 15px;
	padding-bottom: 15px
}


.about-content {
	margin-bottom: 30px
}

.about-content .section-title h2 {
	
	max-width: 440px
}

.about-content .section-title p {
	max-width: 480px
}

.about-content .about-sedule {
	margin-top: 30px
}

.about-content .about-sedule ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.about-content .about-sedule ul li {
	display: block;
	font-size: 18px;
	color: #555657;
	margin-bottom: 10px;
	-webkit-transition: .9s;
	transition: .9s
}

.about-content .about-sedule ul li i {
	margin-right: 10px;
	position: relative;
	top: -3px;
	-webkit-transition: .9s;
	transition: .9s;
	color: #0152a3
}

.about-content .about-sedule ul li.active {
	color: #0152a3
}

.about-content .about-sedule ul li:hover {
	color: #0152a3
}

.about-content .about-btn {
	margin-top: 30px
}

.about-img {
	margin-bottom: 30px
}

.about-img .about-single {
	position: relative;
	margin-right: 40px
}

.about-img .about-single img {
	z-index: 1
}

.about-img .about-single .about-dots {
	position: absolute;
	top: 50%;
	left: -40px;
	z-index: -1
}

.about-img .about-single .about-play {
	top: 50%;
	position: absolute;
	right: -40px;
	max-width: 410px;
	background-color: #0152a3;
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 42px
}

.about-img .about-single .about-play h3 {
	font-size: 35px;
	color: #fff;
	text-transform: uppercase
}

.about-img .about-single .about-play p {
	color: #fff
}

.about-img .about-single .about-play .play-btn {
	color: #fff;
	font-size: 18px
}

.about-img .about-single .about-play .play-btn i {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	border-radius: 50px;
	color: #0152a3;
	text-align: center;
	font-size: 30px;
	margin-right: 10px;
	position: relative;
	top: 5px;
	-webkit-transition: .7s;
	transition: .7s
}

.about-img .about-single .about-play .play-btn i:hover {
	background-color: #1f1f1f;
	color: #fff
}

.about-img .about-single .about-play .play-shape {
	float: right;
	bottom: -20px;
	position: relative;
	right: -15px
}




.about-content-two {
	margin-bottom: 30px
}

.about-content-two .section-title h2 {
	max-width: 440px;
	color: #0152a3
}

.about-content-play {
	margin-top: 45px;
	position: relative;
	text-align: center
}

.about-content-play::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background-image: url(../img/about/1.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.about-content-play .play-on-btn {
	margin: 230px 0;
	position: relative;
	z-index: 1;
	width: 60px;
	height: 60px;
	line-height: 65px;
	background-color: #fff;
	border-radius: 50px;
	color: #0152a3;
	text-align: center;
	font-size: 30px;
	-webkit-transition: .7s;
	transition: .7s
}

.about-content-play .play-on-btn:hover {
	background-color: #1f1f1f;
	color: #fff
}

.about-right-content {
	margin-top: 35px;
	margin-left: 30px
}

.about-right-content p {
	margin-bottom: 40px
}

.about-right-content img {
	width: 100%
}

.about-right-content .about-right-sedule {
	margin-top: 30px
}

.about-right-content .about-right-sedule ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.about-right-content .about-right-sedule ul li {
	display: block;
	font-size: 17px;
	color: #555657;
	margin-bottom: 10px;
	-webkit-transition: .9s;
	transition: .9s
}

.about-right-content .about-right-sedule ul li i {
	margin-right: 10px;
	position: relative;
	top: -3px;
	opacity: 0;
	-webkit-transition: .9s;
	transition: .9s
}

.about-right-content .about-right-sedule ul li.active {
	color: #0152a3
}

.about-right-content .about-right-sedule ul li.active i {
	color: #0152a3;
	opacity: 1
}

.about-right-content .about-right-sedule ul li:hover {
	color: #0152a3
}

.about-right-content .about-right-sedule ul li:hover i {
	color: #0152a3;
	opacity: 1
}

.about-right-content .about-right-btn {
	margin-top: 30px
}

.about-right-ml {
	margin-top: 110px
}

.about-right-ml p {
	margin-bottom: 0
}

.about-offer {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #0152a3;
	padding: 0 30px;
	position: relative
}

.about-offer ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none
}

.about-offer ul li {
	display: inline-block;
	text-align: left;
	position: relative;
	padding-left: 52px;
	color: #fff;
	margin-right: 60px;
	padding-top: 22px;
	padding-bottom: 22px
}

.about-offer ul li .about-offer-icon {
	color: #fff;
	font-size: 60px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.about-offer ul li span {
	display: block;
	color: #fff;
	font-size: 15px;
	margin-left: 36px
}

.about-offer ul li h3 {
	display: inline-block;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	margin-left: 36px
}

.about-offer .about-offer-img {
	position: absolute;
	top: 6px;
	right: 5px;
	opacity: .3
}

.about-right-play {
	margin-top: 30px;
	position: relative;
	text-align: center
}

.about-right-play::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background-image: url(../img/about/4.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.about-right-play .play-right-btn {
	margin: 230px 0;
	position: relative;
	z-index: 1;
	width: 60px;
	height: 60px;
	line-height: 65px;
	background-color: #fff;
	border-radius: 50px;
	color: #0152a3;
	text-align: center;
	font-size: 30px;
	-webkit-transition: .7s;
	transition: .7s
}

.about-right-play .play-right-btn:hover {
	background-color: #1f1f1f;
	color: #fff
}

.counter-bg2 {
	background-color: #0152a3;
	padding-bottom: 55px
}

.counter-area-two {
	position: relative;
	border-bottom: 1px solid #eee
}

.counter-bg-img {
	position: absolute;
	width: 100%;
	bottom: -100px;
	z-index: -1;
	left: 0;
	right: 0;
	text-align: center
}



div {
	
	display: block;
}


.block.bg-1 {
	
	background-size: cover;
	padding: 75px 0 44px;
	color: #fff;
  }
  .block.bg-1 h2 {
	color: #fff;
  }
  
  body:not(.home) #page-content {
	margin-top: 90px;
  }
  @media (max-width: 767px) {
	.block {
	  margin-bottom: 45px;
	}
	body:not(.home) #page-content {
	  margin-top: 45px;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1350px;
	}
  }
  .block.block-top-lined {
	margin-top: 100px;
  }
  .block.block-top-lined .container {
	position: relative;
  }
  .block.block-top-lined .container:before {
	content: '';
	position: absolute;
	top: -50px;
	left: 15px;
	height: 1px;
	width: calc(100% - 30px);
	background-color: #e0eaf2;
  }
  .asideColumn h4 {
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	position: relative;
	padding: 3px 0 3px 20px;
  }
  .asideColumn h4:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 2px;
	height: 100%;
	background-color: #2ea5e9;
  }
  @media (max-width: 1024px) {
	.animation,
	.animated {
	  opacity: 1 !important;
	  animation-name: none !important;
	  -webkit-animation-name: none !important;
	}
  }
  @media (max-width: 991px) and (min-width: 768px) {
	.mb-40 {
	  margin-bottom: 40px !important;
	}
  }
  .num-icon {
	text-align: center;
	margin: 15px 0 35px;
  }
  .num-icon-icon {
	  color:white;
	margin-bottom: 38px;
	font-size: 94px;
	line-height: 1em;
  }
  @media (max-width: 1199px) {
	.num-icon-icon {
	  font-size: 70px;
	}
  }
  .num-icon-num {
	  color:white;
	margin-bottom: 10px;
	font-size: 42px;
	line-height: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  }
  @media (max-width: 1199px) {
	.num-icon-num {
	  font-size: 38px;
	}
  }
  .num-icon-text {
	line-height: 1em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
  }
  /*-----  3.6 Text + Icon block   --------*/
  .text-icon {
	position: relative;
	margin: 16px 0 24px;
	text-align: center;
  }
  .text-icon-icon {
	text-align: center;
	margin-bottom: 23px;
  }
  .text-icon-icon span {
	display: inline-block;
	position: relative;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	line-height: 82px;
	font-size: 20px;
	font-weight: bold;
	background-color: #27b9e8;
	
	background: -webkit-linear-gradient(top, #27b9e8, #0b6fac);
	background: -moz-linear-gradient(top, #27b9e8, #0b6fac);
	background: -ms-linear-gradient(top, #27b9e8, #0b6fac);
	background: -o-linear-gradient(top, #27b9e8, #0b6fac);
  }
  .text-icon-icon span .icon {
	position: relative;
	z-index: 1;
	font-size: 42px;
	line-height: 82px;
	color: #fff;
  }
  .text-icon-icon .icon-hover {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #005395;
	
  }
  .text-icon:hover .icon-hover {
	opacity: 1;
  }
  .text-icon-title {
	line-height: 28px;
	margin-bottom: 18px;
	color: #272727;
	text-transform: uppercase;
  }
  .text-icon.last {
	margin-bottom: 0;
  }
  @media (min-width: 768px) {
	.text-icon-carousel [class*="col-"] {
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	  margin-right: -4px;
	}
	.text-icon-carousel [class*="col-"]:nth-child(3n+1) {
	  clear: left;
	}
  }
  .text-icon.last {
	margin-bottom: 0;
  }
  /* text icon horizontal */
  .text-icon-hor {
	position: relative;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 22px;
	color: #fff;
  }
  .text-icon-hor-icon {
	margin-bottom: 20px;
	position: absolute;
	display: block;
	width: 85px;
	text-align: center;
  }
  .text-icon-hor-icon .icon {
	position: relative;
	z-index: 1;
	font-size: 48px;
	line-height: 50px;
	color: #fff;
  }
  .text-icon-hor-title {
	line-height: 32px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
  }
  .text-icon-hor-text {
	padding-left: 85px;
  }
  .color {
    color: #005395;
}
